option_settings:
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: Xmx
    value: 256m
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: "JVM Options"
    value: "-Dics.config.file=/usr/local/ics/conf/app.properties -Dlogback.configurationFile=/usr/local/ics/log/logback.xml -Denv.name=preview"
  - option_name: KEYCLOAK_SECRET
    value: thisisthevalueadditionalwordswereadded
  - option_name: ENV_NAME
    value: dev
