files:
  "/usr/local/ics/log/logback.xml":
    mode: '000640'
    owner: tomcat
    group: tomcat
    content: "logback.xml"
  "/usr/local/ics/conf/app.properties":
    mode: '000640'
    owner: tomcat
    group: tomcat
    content: "app.properties"
container_commands:
    01-copylogback:
      command: cat .ebextensions/logback.xml > /usr/local/ics/log/logback.xml
    02-copysecret:
      command: sed -i "/.*client.secret=.*/cclient.secret=${KEYCLOAK_SECRET}" .ebextensions/$ENV_NAME.properties
    03-copyproperties:
      command: cat .ebextensions/$ENV_NAME.properties > /usr/local/ics/conf/app.properties
